In [1]:
import pandas as pd
df = pd.read_csv('data/birth_die.csv')
df

       이름     주요경력          출생          사망
0  스티븐 호킹  이론 물리학자  1945-01-08  2018-03-14
1   마이클잭슨       가수  1958-08-29  2009-06-25
2   스티브잡스      CEO  1955-02-24  2011-10-05
3  로빈윌리엄스       배우  1951-07-21  2014-08-11
4   앨빈토플러     미래학자  1928-10-04  2016-06-27

In [2]:
df.dtypes

이름      object
주요경력    object
출생      object
사망      object
dtype: object

# 컬럼을 datetime 자료형으로 변경하기
* pd.**to_datetime**(컬럼)

In [3]:
# 출생, 사망 컬럼을 datetime 자료형으로 변경하기
df['출생'] = pd.to_datetime(df['출생'])

In [4]:
df['사망'] = pd.to_datetime(df['사망'])

In [5]:
df.dtypes

이름              object
주요경력            object
출생      datetime64[ns]
사망      datetime64[ns]
dtype: object

# 연, 월, 일, 분기 추출하기

* 컬럼.dt.year
* 컬럼.dt.month
* 컬럼.dt.day
* 컬럼.dt.quarter

In [6]:
# 출생 컬럼 0번 인덱스의 연도
df['출생'][0].year

1945

In [7]:
# 출생 컬럼의 연도
df['출생'].dt.year

0    1945
1    1958
2    1955
3    1951
4    1928
Name: 출생, dtype: int64

In [8]:
df['출생'].dt.month

0     1
1     8
2     2
3     7
4    10
Name: 출생, dtype: int64

In [9]:
df['출생'].dt.day

0     8
1    29
2    24
3    21
4     4
Name: 출생, dtype: int64

In [11]:
# 분기 컬럼 만들기
df['분기'] = df['출생'].dt.quarter
df

       이름     주요경력         출생         사망  분기
0  스티븐 호킹  이론 물리학자 1945-01-08 2018-03-14   1
1   마이클잭슨       가수 1958-08-29 2009-06-25   3
2   스티브잡스      CEO 1955-02-24 2011-10-05   1
3  로빈윌리엄스       배우 1951-07-21 2014-08-11   3
4   앨빈토플러     미래학자 1928-10-04 2016-06-27   4

# 날짜 계산하기

In [12]:
# 생존일수 컬럼 만들기
df['생존일수'] = df['사망']-df['출생']
df

       이름     주요경력         출생         사망  분기       생존일수
0  스티븐 호킹  이론 물리학자 1945-01-08 2018-03-14   1 26728 days
1   마이클잭슨       가수 1958-08-29 2009-06-25   3 18563 days
2   스티브잡스      CEO 1955-02-24 2011-10-05   1 20677 days
3  로빈윌리엄스       배우 1951-07-21 2014-08-11   3 23032 days
4   앨빈토플러     미래학자 1928-10-04 2016-06-27   4 32043 days

In [13]:
# 생존기간 컬럼 만들기
df['생존기간'] = df['사망'].dt.year-df['출생'].dt.year
df

       이름     주요경력         출생         사망  분기       생존일수  생존기간
0  스티븐 호킹  이론 물리학자 1945-01-08 2018-03-14   1 26728 days    73
1   마이클잭슨       가수 1958-08-29 2009-06-25   3 18563 days    51
2   스티브잡스      CEO 1955-02-24 2011-10-05   1 20677 days    56
3  로빈윌리엄스       배우 1951-07-21 2014-08-11   3 23032 days    63
4   앨빈토플러     미래학자 1928-10-04 2016-06-27   4 32043 days    88

# 요일, 월이름 추출하기
* 컬럼.dt.strftime('%a') : 요약된 요일이름
* 컬럼.dt.strftime('%A') : 긴 요일이름
* 컬럼.dt.strftime('%w') : 숫자요일(0:일요일)
* 컬럼.dt.strgtime('%b') : 요약된 월이름
* 컬럼.dt.strftime('%B') : 긴 월이름

In [16]:
df['출생'].dt.strftime('%b')

0    Jan
1    Aug
2    Feb
3    Jul
4    Oct
Name: 출생, dtype: object

In [17]:
# 출생요일 컬럼 
df['출생요일'] = df['출생'].dt.strftime('%a')
df

       이름     주요경력         출생         사망  분기       생존일수  생존기간 출생요일
0  스티븐 호킹  이론 물리학자 1945-01-08 2018-03-14   1 26728 days    73  Mon
1   마이클잭슨       가수 1958-08-29 2009-06-25   3 18563 days    51  Fri
2   스티브잡스      CEO 1955-02-24 2011-10-05   1 20677 days    56  Thu
3  로빈윌리엄스       배우 1951-07-21 2014-08-11   3 23032 days    63  Sat
4   앨빈토플러     미래학자 1928-10-04 2016-06-27   4 32043 days    88  Thu

In [18]:
# 출생월 컬럼 추가하기
df['출생월'] = df['출생'].dt.strftime('%b')
df

       이름     주요경력         출생         사망  분기       생존일수  생존기간 출생요일  출생월
0  스티븐 호킹  이론 물리학자 1945-01-08 2018-03-14   1 26728 days    73  Mon  Jan
1   마이클잭슨       가수 1958-08-29 2009-06-25   3 18563 days    51  Fri  Aug
2   스티브잡스      CEO 1955-02-24 2011-10-05   1 20677 days    56  Thu  Feb
3  로빈윌리엄스       배우 1951-07-21 2014-08-11   3 23032 days    63  Sat  Jul
4   앨빈토플러     미래학자 1928-10-04 2016-06-27   4 32043 days    88  Thu  Oct

# datetime 자료형을 인덱스로 만들어 사용하기

In [19]:
# 출생 컬럼을 인덱스로 만들기
df.index = df['출생']
df

,이름,주요경력,출생,사망,분기,생존일수,생존기간,출생요일,출생월
출생,,,,,,,,,
1945-01-08,스티븐 호킹,이론 물리학자,1945-01-08,2018-03-14,1,26728 days,73,Mon,Jan
1958-08-29,마이클잭슨,가수,1958-08-29,2009-06-25,3,18563 days,51,Fri,Aug
1955-02-24,스티브잡스,CEO,1955-02-24,2011-10-05,1,20677 days,56,Thu,Feb
1951-07-21,로빈윌리엄스,배우,1951-07-21,2014-08-11,3,23032 days,63,Sat,Jul
1928-10-04,앨빈토플러,미래학자,1928-10-04,2016-06-27,4,32043 days,88,Thu,Oct

In [20]:
# 1955년 출생한 데이터 추출하기
df.loc['1955']

               이름 주요경력         출생         사망  분기       생존일수  생존기간 출생요일  출생월
출생
1955-02-24  스티브잡스  CEO 1955-02-24 2011-10-05   1 20677 days    56  Thu  Feb

In [21]:
# 1955년 2월 출생한 데이터 추출하기
df.loc['1955-02']

               이름 주요경력         출생         사망  분기       생존일수  생존기간 출생요일  출생월
출생
1955-02-24  스티브잡스  CEO 1955-02-24 2011-10-05   1 20677 days    56  Thu  Feb